body{
  background-color: Cornsilk;
}
.clc{
  align-content: center;
  text-align: center;
}

.myimage{
  border-radius:100%;
text-align: right;
}
h1,p{
  text-align: center;
}

table{
  align-content: center;
  text-align: center;
}
h3{
  text-align: right;
}
