<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Simple Calculator</title>
  <link rel="stylesheet" href="static/master.css">
  </head>
  <body>
    <h1>Simple Calculator</h1>
     <img style="margin-left:950px" class="myimage" src="static/myphoto.jpg" alt="manojsaik">
    <h3>Designed & Developed by ManojSai K</h3>
    <p>Enter numbers and click on = button to get your result</p>
    <div class="clc">


<form name="myForm" style="align-content:center;">
<table border="2" style="margin-top:-250px" >
  <tr>
    <td align='center'>
      <input type="text" name="screen"id="screen">
    </td>
  </tr>
  <tr>
    <td>
      <input type="button" name="7" value="7" onclick="update(value)">
      <input type="button" name="8" value="8"onclick="update(value)">
      <input type="button" name="9" value="9"onclick="update(value)">
      <input type="button" name="+" value="+"onclick="update(value)">
      <br>
      <input type="button" name="4" value="4"onclick="update(value)">
      <input type="button" name="5" value="5"onclick="update(value)">
      <input type="button" name="6" value="6"onclick="update(value)">
      <input type="button" name="-" value="-"onclick="update(value)">
      <br>
      <input type="button" name="1" value="1"onclick="update(value)">
      <input type="button" name="2" value="2"onclick="update(value)">
      <input type="button" name="3" value="3"onclick="update(value)">
      <input type="button" name="*" value="*"onclick="update(value)">
      <br>
      <input type="button" name="c" value="c"onclick="form_reset()">
      <input type="button" name="0" value="0"onclick="update(value)">
      <input type="button" name="=" value="="onclick="result()">
      <input type="button" name="/" value="/"onclick="update(value)">
    </td>
  </tr>
</table>

</form>
    </div>
    <script src="static/index.js" charset="utf-8">
    </script>
  </body>
</html>
